{% extends 'base.html' %}
{% block purchase %}active{% endblock %}
{% block purchase_list %}active{% endblock %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <br><br>
        <section class="content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="card">
                        <div class="card-header">
                            <button type="button" rel="noopener" class="btn btn-default" onclick="PrintInvoice('print-invoice')" ><i class="fas fa-print"></i> Print</button>
                        </div>
                            <div class="row print-invoice" id="print-invoice">
                                <div class="col-lg-12 text-center">
                                    <h1 ><strong>Razza Corporation</strong></h1>
                                    <hr>
                                    <u><h2 style="color: blue!important;"><b>Purchase Invoice</b></h2></u>
                                </div>
                            </div>
                                <div class="col-lg-12">
                                    <div class="content-panel" style="padding: 5px">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="col-lg-12">
                                                    <label><strong class="f-size">Supplier Name:</strong></label> <span class="f-size">{{ purchase.supplier.name|title }} {{purchase.supplier.father_name|title}}</span>
                                                </div>
                                                <div class="col-lg-12">
                                                    <label><strong class="f-size">Mobile No:</strong></label> <span class="f-size">{{ purchase.supplier.mobile }}</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 text-right">
                                                <div class="col-lg-12">
                                                    <label><strong class="f-size">Billed Date:</strong></label><span class="f-size">{{ purchase.date|date:"d-m-y" }}</span>
                                                </div>
                                                <div class="col-lg-12">
                                                    <label><strong class="f-size">Vehicle No:</strong></label> <span class="f-size">{{ purchase.vehicle.vehicle_number }}</span>
                                                </div>
                                                <div class="col-lg-12">
                                                    <label><strong class="f-size">Bilty no:</strong></label> <span class="f-size">{{ purchase.bilty_no }}</span>
                                                </div>
                                                    <div class="col-lg-12">
                                                        <label><strong class="f-size">Bill No:</strong></label> <span class="f-size">{{ purchase.id|stringformat:"02d" }}</span>
                                                    </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                     <table class="table table-bordered table-striped">
                                                        <thead>
                                                        <tr class="item-row" style="background-color: blue; color: white;">
                                                            <th class="text-center">Item</th>
                                                            <th class="text-center">Price Per Ton</th>
                                                            <th class="text-center">Total Ton</th>
                                                            <th class="text-center">Total Amount</th>
                                                            <th class="text-center">Advance Payment / Paishgi</th>
                                                            <th class="text-center">After Advance Payment</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr id="hiderow">
                                                                <td class="text-center">
                                                                    {{ purchase.item.product|title}} {{purchase.item.product_place|title}}
                                                                </td>
                                                                <td class="text-center">
                                                                    {{purchase.price_per_ton}}
                                                                </td>
                                                                <td class="text-center">
                                                                    {{purchase.total_ton}}
                                                                </td>
                                                                <td class="text-center">
                                                                    {{purchase.cost}}
                                                                </td>
                                                                <td class="text-center">
                                                                    {{purchase.advance_payment}}
                                                                </td>
                                                                <td class="text-center">
                                                                    {{purchase.after_advance_payment}}
                                                                </td>
                                                                
                                                            </tr>
                                                        <!-- <tr><td colspan="4" style="color:white"></td></tr> -->
                                                        <!-- <tr>
                                                            <td><strong >Total Quantity: </strong><span id="totalQty" style="color: red; font-weight: bold;">{{ invoice.total_quantity }} </span> </td>
                                                            <td class="text-right" ><strong >Sub Total</strong></td>
                                                            <td><span id="grandTotal" style="color: red;">{{ invoice.grand_total|floatformat:-2 }}</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Received Payment: {{ invoice.paid_amount|floatformat:-2 }}</td>
                                                            <td class="text-right"><strong >Discount</strong></td>
                                                            <td><span id="cash_payment" >{{ invoice.discount|floatformat:-2 }}</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Remaining Paymnet (Ledger Amount): <span style="color: red">{%  if invoice.remaining_payment %}{{ invoice.remaining_payment|floatformat:-2 }}{% else %}0{% endif %}</span></td>
                                                            <td class="text-right"><strong >Grand Total</strong></td>
                                                            <td><span id="returned_cash"  >{{invoice.grand_total|floatformat:-2 }}</span></td>
                                                        </tr> -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12" style="text-align: center;">
                                                <strong style="font-size:12px;color:#000">Thank You</strong>
                                            </div>
                                            <div class="col-xs-12 col-md-12" style="text-align: center;">
                                                <strong class="f-size">
                                                    Software Developed By Khalid Baloch</strong>
                                            </div>
                                            <div class="col-lg-6 col-xs-12 text-center">
                                                {#<span class="f-size">www.partumsolutions.com</span>#}
                                            </div>
                                            <div class="col-lg-12 col-xs-12 text-center">
                                                <strong class="f-size">ph:+92-333-1340752</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        function PrintInvoice(divName){
             var printContents = document.getElementById(divName).innerHTML;
             var originalContents = document.body.innerHTML;
             document.body.innerHTML = printContents;
             $('table').removeClass('table-bordered');
             $('tr').css('border', '1px solid #000');
             $('td').css('border', '1px solid #000');
             $('th').css('border', '1px solid #000');
             $('th').css('font-size', '8px');
             $('tr').css('font-size', '8px');
             $('td').css('font-size', '8px');
             $('.f-size').css('font-size', '8px');
             window.print();
             document.body.innerHTML = originalContents;
        }
    </script>
<script>

$('#invoice').on('click', function() {
    var $this = $(this);
  $this.button('loading');
    setTimeout(function() {
       $this.button('reset');
   }, 5000);
});
</script>

{% endblock %}
